<div class="jumbotron mt4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Notas do Dia-a-dia</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas obcaecati, veritatis dolorem nulla voluptatum eos temporibus perspiciatis nobis optio unde consequuntur repellendus laboriosam delectus excepturi maiores architecto culpa eveniet dolorum.</p> 
    <a href="http://google.com.br" class="btn btn-primary">Google</a>
</div>